<form [formGroup]="EmployeeForm" class="" (ngSubmit)="AddEmployee()">
  <div class="form-group mt-3">
    <label for="name">Name: </label>
    <input class="form-control" id="name" type="text" formControlName="Name">
  </div>
  <div class="form-group mt-3">
    <label for="Age">Age: </label>
    <input id="Age" class="form-control" type="text" formControlName="Age">
  </div>
  <div class="form-group mt-3">
    <label for="name">Address: </label>
    <input class="form-control" id="Address" type="text" formControlName="Address">
  </div>
  <div class="form-group mt-3">
    <label for="Title">Title: </label>
    <input class="form-control" id="Title" type="text" formControlName="Title">
  </div>
  <div class="form-group mt-3">
    <label for="JobDescription">Job Description: </label>
    <input class="form-control" id="JobDescription" type="text" formControlName="JobDescription">
  </div>
  <div class="form-group mt-3">
    <label for="phoneNumber">phone Number: </label>
    <input class="form-control" id="phoneNumber" type="text" formControlName="phoneNumber">
  </div>
  <div class="align-items-center d-flex justify-content-center mb-3 mt-5 mt-5 mb-3">
    <button type="submit" [disabled]="EmployeeForm.invalid" class="btn-lg  btn btn-primary">
      Add
    </button>
    <button class="btn-lg  btn btn-outline-dark ms-4" routerLink="/">
      Close
    </button>
  </div>
</form>